.student-form {
    overflow: hidden;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #d9d9d9;
    border-radius: 5px;
}

.caption-center {
   text-align: center;
}

.div-center {
  margin: auto;
  text-align: center;
  margin: 0 auto;
}

fieldset {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
