<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <!-- Add icon library -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}" type="text/css">
</head>
   
<body>
<div class="container justify-content-center">
  <!--Navbar-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">CRUDApp</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('create_record') }}">Create Record</a></li>
        <li class="active"><a href="{{ url_for('delete_record') }}">Delete Record</a></li>
        <li><a href="{{ url_for('update_record') }}">Update Record</a></li>
        <li><a href="{{ url_for('display_record') }}">Display Records</a></li>
      </ul>
      <button class="btn btn-info navbar-btn">Help and Information</button>
    </div>
  </nav>
  <!--/.Navbar-->

  <!-- Main Code -->
  <div class="student-form">
    <div class="caption-center">
      <h2 class="display-5">Delete Record</h2>
    </div>
    <form action="{{ url_for('delrecord') }}" method="POST">
         <div class="form-row">
           <div class="form-group col-md-6">
             <input name="student_regnum" type="text" class="form-control" placeholder="Student's Registration Number" required>
           </div>
           <div class="form-group col-md-6">
             <button type="submit" class="btn btn-primary mb-2">Submit to Delete Record</button>
             <button type="reset" class="btn mb-2">Clear</button>
           </div>
         </div>

    </form>
  </div>

  <!-- End of Main Code -->

</div>


</body>
</html>
