<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User Record</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
   <div class="container h-100 d-flex justify-content-center">
      <div class="jumbotron my-auto">
         <h4 class="display-4">Create User Record</h4>
         <div class="alert alert-success" role="alert">
           Add user information here
           <!--<p th:text="'Hello, ' + ${name} + '!'" />-->
         </div>
      </div>
   </div>

</body>
</html>
